<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>HairSalon</title>
    <link rel=stylesheet href=https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css>
    <link rel="stylesheet" href="~/css/styles.css?v=1.21">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="~/js/scripts.js"></script>
  </head>
  <hr>
  <br>
  <body>
    <div class="container">
        <ul class="nav nav-tabs nav-justified">
          <li><a class="nav-link" href = "/">Home</a></li>
          <li><a class="nav-link" href = "/stylists/">Admin</a></li>
          <li><a class="nav-link" href = "/stylists/search">Search</a></li>
          <li><a class="nav-link" href = "/stylists/showall">View Stylists</a></li>
          <li><a class="nav-link" href = "/stylists/clients/showall">View Clients</a></li>
          <li><a class="nav-link" href = "/stylists/specialities/showall">View Specialities</a></li>
        </ul>
    </div>
    @RenderBody()
  </body>
<br>
<hr>
</html>
