@using HairSalon.Models
@{
  Layout = "_Layout";
}

<div class="container">
    <h2>@Model.GetName()</h2>
    <a class="deleteLink" href='/stylists/clients/@Model.GetId()/edit'>Edit the Client</a>
    <br>
    <br>
    <a class="deleteLink" href='/stylists/clients/@Model.GetId()/delete'>Delete this Client</a>
    <br>
    <br>
    <p>Client's Stylist: <a href="/stylists/@Model.GetStylistId()">@StylistClass.FindById(@Model.GetStylistId()).GetName()</a></p>
    <br>
    <hr>
    <a href="/stylists/clients/showall">Back</a>
</div>
