#noStylists
{
    font-weight: bold;
    font-size: 15px;
}

.deleteLink
{
    font-size: 12px;
}

body
{
    background-color: #18131E;
    color: #EAC67A;
}

button , input , select , option
{
    border-color: #984B43;
    background-color: #233237;
    color: #EAC67A;
}

hr
{
    background-color: #984B43;
    border-color: #984B43;
    color: #984B43;
}

#mainHeader
{
    text-align: center;
}

a:link 
{
    color: #984B43;
}
  

a:visited 
{
    color: #984B43;
}


a:hover 
{
    color: #EAC67A;
}


a:active 
{
    color: #984B43;
}

#mainPageDiv
{
    background-color: #233237;
    border-radius: 15px;
}

#splashImg
{
    margin-left: 15%;
    padding-top: 25px;
    padding-bottom: 25px;
}

.column
{
    float: left;
    width: 50%;
    text-align: center;
}

.row::after
{
    content: "";
    display: table;
    clear: both;
}

#reviewDiv
{
    padding-top: 15px;
    margin-top: 25px;
}

.starImg
{
    align-content: center;
}

.star
{
    width: 3%;
}

.nav-tabs > li > a:hover
{
    background-color: #984B43;
    border-color: #EAC67A;
}

.nav-tabs > li
{
    border-bottom: 1px solid #EAC67A;
    border-bottom-color: #EAC67A;
}