#noStylists
{
    font-weight: bold;
    font-size: 15px;
}

.deleteLink
{
    font-size: 12px;
}

body
{
    background-color: black;
    color: white;
}

button , input , select , option
{
    color: black;
}


