@{
  Layout = "_Layout";
}

<div class="container">
  <br>
  <div id="mainPageDiv">
    <img id="splashImg" src="~/img/jimmyhairsalon.png">
  </div>
  <br>
  <div id="reviewDiv" class="row">
    <div class="column">
      <p>"This hair salon fixed my hair!"</p>
      <p class="starImg"><img class="star" src="~/img/star.png"><img class="star" src="~/img/star.png"><img class="star" src="~/img/star.png"><img class="star" src="~/img/star.png"><img class="star" src="~/img/star.png"></p>
      <p>- David Attenburrow on Forbes.com</p>
      <hr>
      <p>"Jimmy does his job well. Good prices!"</p>
      <p class="starImg"><img class="star" src="~/img/star.png"><img class="star" src="~/img/star.png"><img class="star" src="~/img/star.png"><img class="star" src="~/img/star.png"></p>
      <p>- David HassleToff on GoogleHairReviews.com</p>
    </div>
    <div class="column">
      <p>They made me look like a Donkey... It's what I wanted.</p>
      <p class="starImg"><img class="star" src="~/img/star.png"><img class="star" src="~/img/star.png"><img class="star" src="~/img/star.png"><img class="star" src="~/img/star.png"></p>
      <p>- Miley Cryrus on BestHairStyles.com</p>
      <hr>
      <p>I came here expecting a Word Counter Game... Got a legit hair style though!</p>
      <p class="starImg"><img class="star" src="~/img/star.png"><img class="star" src="~/img/star.png"><img class="star" src="~/img/star.png"><img class="star" src="~/img/star.png"><img class="star" src="~/img/star.png"></p>
      <p>- Harry Snooter on LinkedIn.com</p>
    </div>
  </div>
</div>
