@using HairSalon.Models
@{
  Layout = "_Layout";
}

<div class="container">
    <h3>Hair Salon</h3>
    <p><a href="/stylists/new">Click here to add a stylist.</a></p>
    <p><a href="/stylists/clients/new">Click here to add a client.</a></p>
    <!--<p><a href="/stylists/search">Search for stylists or clients.</a></p> Broken Search Method, Commenting out due to lack of time.-->
    <br>
    <hr>
</div>
