@{
  Layout = "_Layout";
}

<div class="container">
    <p>Add a Stylist</p>
    <form action = "/stylists/new" method="post">
            <label for='stylistName'>Stylist Name</label>
            <input id='stylistName' name='stylistName' type='text' required><br>
            <button type='submit'>Add Stylist To Database</button>
    </form>
</div>
