@{
  Layout = "_Layout";
}
<div class="container">
    <ul class="nav nav-tabs nav-justified">
      <li><a href="/stylists/new">Add a stylist</a></li>
      <li><a href="/stylists/clients/new">Add a client</a></li>
      <li><a href="/stylists/specialities/new">Add a speciality</a></li>
      <li><a href="/stylists/specialities/join">Add Specialities to Stylists</a></li>
    </ul>
</div>
<div class="container">
    <p>Add a Stylist</p>
    <form action = "/stylists/new" method="post">
            <label for='stylistName'>Stylist Name</label>
            <input id='stylistName' name='stylistName' type='text' required><br>
            <button type='submit'>Add Stylist To Database</button>
    </form>
</div>
