@using HairSalon.Models
@{
  Layout = "_Layout";
}

<div class="container">
    <h2>@Model["stylists"].GetName()</h2>
    <a class="deleteLink" href='/stylists/@Model["stylists"].GetId()/edit'>Edit the Stylist</a><br>
    <br>
    <a class="deleteLink" href='/stylists/@Model["stylists"].GetId()/delete'>Delete this Stylist(And the Stylist's Clients)</a>
    <h3>Current Clients:</h3>
    @foreach(ClientClass client in @Model["clients"])
    {
        <p><a href="/stylists/clients/@client.GetId()">@client.GetName()</a></p>
    }
    <br>
    <hr>
    <a href="/stylists/showall">Back</a><br>
</div>
