@using HairSalon.Models
@{
  Layout = "_Layout";
}

<div class="container">
    <h3>Hair Salon</h3>
    <br>
    <p>The Stylist and all associated clients have been deleted from the database.</p>
    <br>
    <a href="/stylists">Home Page</a>
</div>
