@using HairSalon.Models
@{
  Layout = "_Layout";
}

<div class="container">
    <h3>@Model["speciality"].GetSpeciality()</h3>
    <a href='/stylists/specialities/@Model["speciality"].GetId()/delete'>Delete</a>
    <br>
    <br>
    <div>
    <p>All Stylists With This Speciality:</p>
    @foreach(StylistClass stylist in @Model["stylists"])
    {
        <a href="/stylists/@stylist.GetId()">@stylist.GetName()</a><br>
    }
    </div>
    <br>
    <hr>
    <a href="/stylists/specialities/showall">Back</a><br>
</div>